body{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}
h1{
  margin: 0;
  margin-bottom: .5rem;
}
.input{
  border: 2px solid rgb(143, 21, 21);
  border-radius: .3em;
  padding: .25rem;
  width: 10em;
}

select{
margin-left: .5rem;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}
